<div class="rt-cn-subtotal">
  <span class="rt-cn-subtotal__label">{{ 'general.cart.bag_subtotal' | t: count: cart.item_count }}</span>
  <span class="rt-cn-subtotal__price">{% render 'rt-money', amount: cart.total_price %}</span>
</div>
